<html
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:w="urn:schemas-microsoft-com:office:word"
  xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
  xmlns="http://www.w3.org/TR/REC-html40"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <meta name="ProgId" content="Word.Document" />
    <meta name="Generator" content="Microsoft Word 12" />
    <meta name="Originator" content="Microsoft Word 12" />

    <link
      rel="File-List"
      href="barcode%20example%20qsf%20erp%20multiple_files/filelist.xml"
    />

    <link
      rel="themeData"
      href="barcode%20example%20qsf%20erp%20multiple_files/themedata.thmx"
    />
    <link
      rel="colorSchemeMapping"
      href="barcode%20example%20qsf%20erp%20multiple_files/colorschememapping.xml"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap"
      rel="stylesheet"
    />

    <style>
      html,
      body {
        margin: 0px;
        padding: 0px;
      }
      .barcode39 {
        font-family: "Libre Barcode 39", cursive;
        font-size: 20pt;
        font-weight: normal;
        line-height: 31px;
      }
      /* Font Definitions */
      @font-face {
        font-family: "Cambria Math";
        panose-1: 2 4 5 3 5 4 6 3 2 4;
        mso-font-charset: 0;
        mso-generic-font-family: roman;
        mso-font-pitch: variable;
        mso-font-signature: -536869121 1107305727 33554432 0 415 0;
      }
      @font-face {
        font-family: Tahoma;
        panose-1: 2 11 6 4 3 5 4 4 2 4;
        mso-font-charset: 0;
        mso-generic-font-family: swiss;
        mso-font-pitch: variable;
        mso-font-signature: -520081665 -1073717157 41 0 66047 0;
      }
      @font-face {
        font-family: BarCode;
        panose-1: 5 1 1 1 1 1 1 1 1 1;
        mso-font-charset: 0;
        mso-generic-font-family: auto;
        mso-font-pitch: fixed;
        mso-font-signature: 3 0 0 0 1 0;
      }
      @font-face {
        font-family: Montserrat;
        panose-1: 0 0 0 0 0 0 0 0 0 0;
        mso-font-charset: 0;
        mso-generic-font-family: modern;
        mso-font-format: other;
        mso-font-pitch: variable;
        mso-font-signature: 536871439 3 0 0 407 0;
      }
      /* Style Definitions */
      p.MsoNormal,
      li.MsoNormal,
      div.MsoNormal {
        mso-style-unhide: no;
        mso-style-qformat: yes;
        mso-style-parent: "";
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: 115%;
        mso-pagination: widow-orphan;
        font-size: 11pt;
        font-family: "Calibri", "sans-serif";
        mso-ascii-font-family: Calibri;
        mso-ascii-theme-font: minor-latin;
        mso-fareast-font-family: Calibri;
        mso-fareast-theme-font: minor-latin;
        mso-hansi-font-family: Calibri;
        mso-hansi-theme-font: minor-latin;
        mso-bidi-font-family: Arial;
        mso-bidi-theme-font: minor-bidi;
      }
      p {
        mso-style-noshow: yes;
        mso-style-priority: 99;
        mso-margin-top-alt: auto;
        margin-right: 0in;
        mso-margin-bottom-alt: auto;
        margin-left: 0in;
        mso-pagination: widow-orphan;
        font-size: 12pt;
        font-family: "Times New Roman", "serif";
        mso-fareast-font-family: "Times New Roman";
      }
      p.MsoAcetate,
      li.MsoAcetate,
      div.MsoAcetate {
        mso-style-noshow: yes;
        mso-style-priority: 99;
        mso-style-link: "Balloon Text Char";
        margin: 0in;
        margin-bottom: 0.0001pt;
        mso-pagination: widow-orphan;
        font-size: 8pt;
        font-family: "Tahoma", "sans-serif";
        mso-fareast-font-family: Calibri;
        mso-fareast-theme-font: minor-latin;
      }
      span.BalloonTextChar {
        mso-style-name: "Balloon Text Char";
        mso-style-noshow: yes;
        mso-style-priority: 99;
        mso-style-unhide: no;
        mso-style-locked: yes;
        mso-style-link: "Balloon Text";
        mso-ansi-font-size: 8pt;
        mso-bidi-font-size: 8pt;
        font-family: "Tahoma", "sans-serif";
        mso-ascii-font-family: Tahoma;
        mso-hansi-font-family: Tahoma;
        mso-bidi-font-family: Tahoma;
      }
      span.SpellE {
        mso-style-name: "";
        mso-spl-e: yes;
      }
      .MsoChpDefault {
        mso-style-type: export-only;
        mso-default-props: yes;
        mso-ascii-font-family: Calibri;
        mso-ascii-theme-font: minor-latin;
        mso-fareast-font-family: Calibri;
        mso-fareast-theme-font: minor-latin;
        mso-hansi-font-family: Calibri;
        mso-hansi-theme-font: minor-latin;
        mso-bidi-font-family: Arial;
        mso-bidi-theme-font: minor-bidi;
      }
      .MsoPapDefault {
        mso-style-type: export-only;
        margin-bottom: 10pt;
        line-height: 115%;
      }
      @page Section1 {
        size: 141.75pt 70.85pt;
        margin: 0.05in 0.05in 0.05in 0.05in;
        mso-header-margin: 0.5in;
        mso-footer-margin: 0.5in;
        mso-paper-source: 0;
      }
      div.Section1 {
        page: Section1;
      }
      .print-container {
        padding-top: 6px;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap"
      rel="stylesheet"
    />
  </head>

  <body lang="EN-US" style="tab-interval: 0.5in">
    <div class="Section1">
      <% for(var i=0; i< data.printData.length; i++) {%>
      <div class="print-container">
        <p
          class="MsoNormal"
          align="center"
          style="
            margin-bottom: 0in;
            margin-bottom: 0.0001pt;
            text-align: center;
            line-height: normal;
          "
        >
          <b
            ><span
              style="
                font-size: 12pt;
                font-family: 'Times New Roman', 'serif';
                mso-fareast-font-family: 'Times New Roman';
              "
              ><%= trim(data.printData[i].barcode,15)%></span
            ></b
          >
        </p>

        <p
          class="MsoNormal"
          align="center"
          style="
            margin-bottom: 0in;
            margin-bottom: 0.0001pt;
            text-align: center;
            line-height: normal;
          "
        >
          <b
            ><span
              style="
                font-size: 1pt;
                font-family: 'Times New Roman', 'serif';
                mso-fareast-font-family: 'Times New Roman';
              "
              ><o:p>&nbsp;</o:p></span
            ></b
          >
        </p>

        <p
          class="MsoNormal"
          align="center"
          style="
            margin-bottom: 0in;
            margin-bottom: 0.0001pt;
            text-align: center;
            line-height: normal;
          "
        >
          <span class="barcode39">*<%= data.printData[i].barcode%>*</span>
        </p>

        <p
          class="MsoNormal"
          align="center"
          style="
            margin-bottom: 0in;
            margin-bottom: 0.0001pt;
            text-align: center;
            line-height: normal;
            background: white;
            margin-top: -12px;
          "
        >
          <b
            ><span
              style="
                font-size: 6pt;
                font-family: Montserrat;
                mso-fareast-font-family: 'Times New Roman';
                mso-bidi-font-family: 'Times New Roman';
                color: black;
              "
              ><%=trim(data.code +" - "+data.name) %>
            </span></b
          >
        </p>

        <p
          class="MsoNormal"
          align="center"
          style="
            margin-bottom: 0in;
            margin-bottom: 0.0001pt;
            text-align: center;
            line-height: normal;
            background: white;
          "
        >
          <b
            ><span
              style="
                font-size: 6pt;
                font-family: Montserrat;
                mso-fareast-font-family: 'Times New Roman';
                mso-bidi-font-family: 'Times New Roman';
                color: black;
              "
              >Quantity:&nbsp;<%=data.printData[i].openQty
              %>&nbsp;<%=data.InventoryUOM&&data.InventoryUOM.code %><o:p
              ></o:p></span
          ></b>
        </p>

        <p
          class="MsoNormal"
          align="center"
          style="
            margin-bottom: 0in;
            margin-bottom: 0.0001pt;
            text-align: center;
            line-height: normal;
            background: white;
          "
        >
          <b
            ><span
              style="
                font-size: 6pt;
                font-family: Montserrat;
                mso-fareast-font-family: 'Times New Roman';
                mso-bidi-font-family: 'Times New Roman';
                color: black;
              "
              >Date:&nbsp;<%=data.printData[i].docDate ?
              moment(data.printData[i].docDate,
              'YYYY-MM-DD').format('DD-MM-YYYY') : '' %><br
                clear="all"
                style="
                  mso-special-character: line-break;
                  page-break-before: always;
                " />
              <o:p></o:p></span
          ></b>
        </p>
      </div>
      <% } %>
    </div>
  </body>
</html>

<script>
  window.onload = function () {
    window.print();
  };

  window.onafterprint = function () {
    //  history.back();
  };
</script>
